<header>
    <div class="container">
        <div class="logo flex">
            <a href="" title=""><img src="./assets/img/web/logo.png" alt=""></a>
            <a href="" title=""><img src="./assets/img/web/vinaphone.png" alt=""></a>
            <a href="" title=""><img src="./assets/img/web/mobifone.png" alt=""></a>
        </div>
        <div class="slider">
            <div class="item">
                <img src="./assets/img/web/slide.jpg" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/web/slide1.jpg" alt="">
            </div>
        </div>
    </div>
    <nav class="navbar pr">
        <ul class="navbar-menu flex-center pr">
            <li><a href="" title="Trang chủ">Trang chủ</a></li>
            <li><a href="" title="Tin tức">Tin tức</a></li>
            <li><a href="" title="bình chọn">Bình chọn</a></li>
            <li><a href="" title="BXH">BXH</a></li>
            <li><a href="" title="lịch thi đấu">lịch thi đấu</a></li>
            <li><a href="" title="VĐV">VĐV</a></li>
            <li><a href="" title="hi-light">hi-light</a></li>
            <li><a href="" title="Hướng dẫn">Hướng dẫn</a></li>
        </ul>
    </nav>
    <div class="box-right">
        <button type="button" class="btn-guess" data-toggle="modal" data-target="#modal-guess">dự đoán</button>
        <button type="button" data-toggle="modal" data-target="#modal-giaithuong">giải thưởng</button>
        <button type="button" data-toggle="modal" data-target="#modal-rule">thể lệ</button>
    </div>
</header>
<div class="modal fade modal-guess" id="modal-guess">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Dự đoán</h2>
                <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            </div>
            <div class="modal-body">
                <div class="guess active">
                    <div class="header flex-center">Dự đoán kết quả</div>
                    <div class="content">
                        <h3>Dự đoán kết quả</h3>
                        <div class="box-select flex">
                            <h5>Chọn trận</h5>
                            <span>T01</span>
                            <p>hong anh</p>
                            <time>15h00 - 27/02/2022</time>
                            <select name="">
                                <option value="">he he</option>
                            </select>
                        </div>
                        <div class="box-select flex">
                            <h5>Chọn vđv</h5>
                            <select name="">
                                <option value="">chimsedinang</option>
                            </select>
                        </div>
                        <div class="syntax">
                            <h4>Cú pháp <span>(2000 vnđ/sms)</span></h4>
                            <div class="code flex-center">aoe T01 KQ CS</div>
                            <div class="text">Mã giải + Mã trận + Mã dự đoán + Mã vđv</div>
                            <div class="box-btn flex">
                                <button type="button" class="btn-copy flex-center">sao chép mã</button>
                                <button type="button" class="btn-submit flex-center">gửi dự đoán</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guess">
                    <div class="header flex-center">Dự đoán tỷ số</div>
                    <div class="content">
                        <h3>Dự đoán tỷ số</h3>
                        <div class="box-select flex">
                            <h5>Chọn trận</h5>
                            <span>T01</span>
                            <p>hong anh</p>
                            <time>15h00 - 27/02/2022</time>
                            <select name="">
                                <option value="">he he</option>
                            </select>
                        </div>
                        <div class="box-select flex">
                            <h5>Chọn vđv</h5>
                            <select name="">
                                <option value="">chimsedinang</option>
                            </select>
                        </div>
                        <div class="box-select flex">
                            <h5>Chọn tỷ số</h5>
                            <div class="box-score flex">
                                <input type="number" name="" value="1">
                                <span class="space">-</span>
                                <input type="number" value="" placeholder="--">
                            </div>
                        </div>
                        <div class="syntax">
                            <h4>Cú pháp <span>(2000 vnđ/sms)</span></h4>
                            <div class="code flex-center">aoe T01 KQ CS</div>
                            <div class="text">Mã giải + Mã trận + Mã dự đoán + Mã vđv</div>
                            <div class="box-btn flex">
                                <button type="button" class="btn-copy flex-center">sao chép mã</button>
                                <button type="button" class="btn-submit flex-center">gửi dự đoán</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guess">
                    <div class="header flex-center">Dự đoán tổng cung</div>
                    <div class="content">
                        <h3>Dự đoán tổng cung</h3>
                        <div class="box-select flex">
                            <h5>Chọn trận</h5>
                            <span>T01</span>
                            <p>hong anh</p>
                            <time>15h00 - 27/02/2022</time>
                            <select name="">
                                <option value="">he he</option>
                            </select>
                        </div>
                        <div class="box-select flex">
                            <h5>Chọn vđv</h5>
                            <select name="">
                                <option value="">chimsedinang</option>
                            </select>
                        </div>
                        <div class="syntax">
                            <h4>Cú pháp <span>(2000 vnđ/sms)</span></h4>
                            <div class="code flex-center">aoe 01 CHEM A</div>
                            <div class="text">Mã giải + Mã trận + Mã dự đoán + Mã vđv</div>
                            <div class="box-btn flex">
                                <button type="button" class="btn-copy flex-center">sao chép mã</button>
                                <button type="button" class="btn-submit flex-center">gửi dự đoán</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guess">
                    <div class="header flex-center">Dự đoán tổng chém</div>
                    <div class="content">
                        <h3>Dự đoán tổng chém</h3>
                        <div class="box-select flex">
                            <h5>Chọn trận</h5>
                            <span>T01</span>
                            <p>hong anh</p>
                            <time>15h00 - 27/02/2022</time>
                            <select name="">
                                <option value="">he he</option>
                            </select>
                        </div>
                        <div class="box-select flex">
                            <h5>Chọn vđv</h5>
                            <select name="">
                                <option value="">chimsedinang</option>
                            </select>
                        </div>
                        <div class="syntax">
                            <h4>Cú pháp <span>(2000 vnđ/sms)</span></h4>
                            <div class="code flex-center">aoe 01 CHEM A</div>
                            <div class="text">Mã giải + Mã trận + Mã dự đoán + Mã vđv</div>
                            <div class="box-btn flex">
                                <button type="button" class="btn-copy flex-center">sao chép mã</button>
                                <button type="button" class="btn-submit flex-center">gửi dự đoán</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guess">
                    <div class="header flex-center">Dự đoán VĐV vô địch lượt đi</div>
                    <div class="content">
                        <h3>Dự đoán VĐV vô địch lượt đi</h3>
                        <div class="box-select flex">
                            <h5>Chọn vđv</h5>
                            <select name="">
                                <option value="">chimsedinang</option>
                            </select>
                        </div>
                        <div class="box-select flex">
                            <h5>Số người dự đoán đúng</h5>
                            <input type="number" name="" class="input-number" placeholder="số lượng">
                        </div>
                        <div class="syntax">
                            <h4>Cú pháp <span>(2000 vnđ/sms)</span></h4>
                            <div class="code flex-center">aoe VS1 A 5326</div>
                            <div class="text">Mã giải + Mã trận + Mã dự đoán + Mã vđv</div>
                            <div class="box-btn flex">
                                <button type="button" class="btn-copy flex-center">sao chép mã</button>
                                <button type="button" class="btn-submit flex-center">gửi dự đoán</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guess">
                    <div class="header flex-center">Dự đoán VĐV vô địch cả giải</div>
                    <div class="content">

                    </div>
                </div>
                <div class="guess">
                    <div class="header flex-center">Bình chọn VĐV được yêu thích nhất lượt đi</div>
                    <div class="content">
                        <h3>Bình chọn VĐV được yêu thích nhất lượt đi</h3>
                        <div class="box-select flex">
                            <h5>Chọn vđv</h5>
                            <select name="">
                                <option value="">chimsedinang</option>
                            </select>
                        </div>
                        <div class="syntax">
                            <h4>Cú pháp <span>(2000 vnđ/sms)</span></h4>
                            <div class="code flex-center">aoe YT1 A</div>
                            <div class="text">Mã giải + mã gói cước + mã VĐV</div>
                            <div class="box-btn flex">
                                <button type="button" class="btn-copy flex-center">sao chép mã</button>
                                <button type="button" class="btn-submit flex-center">gửi dự đoán</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guess">
                    <div class="header flex-center">Bình chọn VĐV được yêu thích nhất giải</div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-giaithuong" id="modal-giaithuong">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Giải thưởng</h2>
                <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            </div>
            <div class="modal-body">
                <h3>Thưởng event dự đoán dành cho khán giả</h3>
                <div class="list flex">
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">DỰ ĐOÁN KẾT QUẢ TRẬN ĐẤU</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">DỰ ĐOÁN TỶ SỐ TRẬN ĐẤU</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">DỰ ĐOÁN TỔNG CHÉM</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">DỰ ĐOÁN TỔNG CHÉM</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">DỰ ĐOÁN VĐV VÔ ĐỊCH LƯỢT ĐI</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">DỰ ĐOÁN VĐV VÔ ĐỊCH CẢ GIẢI</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">NGƯỜI DỰ ĐOÁN TRÚNG NHIỀU NHẤT TRONG TUẦN</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">NGƯỜI DỰ ĐOÁN TRÚNG NHIỀU NHẤT TRONG THÁNG</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">NGƯỜI DỰ ĐOÁN TRÚNG NHIỀU NHẤT TRONG MÙA GIẢI</button>
                </div>
                <h3>THƯỞNG VẬN ĐỘNG VIÊN</h3>
                <div class="list flex">
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI NHẤT</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI NHÌ</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI BA</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI 4</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI 5</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI 6</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI 7</button>
                    <button type="button" data-toggle="modal" data-target="#modal-prize-detail">GIẢI 8</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-prize-detail modal-second" id="modal-prize-detail">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="box-img">
                <img src="./assets/img/web/3139024779_1651024384.jpg" alt="">
            </div>
            <div class="text">Giải nhất: Xe máy Honda Vision Giải nhỉ: Laptop MSI Gaming Bravo 15 Giải ba: Điện thoại Xiaomi 11 Lite 5G</div>
            <button type="button" data-dismiss="modal" class="btn-ok flex-center">OK</button>
        </div>
    </div>
</div>
<div class="modal fade modal-rule" id="modal-rule">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Thể lệ</h2>
                <a href="javascript:;" class="close" data-dismiss="modal">x</a>
            </div>
            <div class="modal-body">
                <article>
                    <h4>A. Thể thức:</h4>
                    <p>- Đánh vòng tròn tính điểm, dựa theo xếp hạng trao giải.</p>
                    <p>- Thể loại: Solo random chạm 7</p>
                    <p>- VĐV thắng trận được 3 điểm, thua 0 điểm.</p>
                    <p>- Trường hợp 2 hoặc nhiều VĐV bằng điểm thì lấy thành tích đối đầu sau đó đến hiệu số thi đấu làm căn cứ xếp hạng.</p>
                    <p>- Xếp hạng chung cuộc nếu các VĐV bằng điểm, bằng thành tích đối đầu, bằng hiệu số sẽ thi đấu 1 trận chung kết phân chia thứ hạng. </p>
                    <h4>B. Số lượng vận động viên:  8 VĐV </h4>
                    <h4>C. Tổng số trận đấu:  56 trận </h4>
                    <h4>D. Thời gian diễn ra giải: 3 tháng mỗi thứ 6, thứ 7, chủ nhật hàng tuần.</h4>
                    <h4>E. Nguyên tắc: </h4>
                    <p>- Ngày thi đấu đã thông báo: Cố định.</p>
                    <p>- Thời gian thi đấu trong ngày: Từ 18h00 (chênh lệch không quá 30p)</p>
                    <p>- Cặp đấu: Cố định.</p>
                </article>
            </div>
        </div>
    </div>
</div>
<marquee tên-thuộc-tính="giá-trị-thuộc-tính".... các-thuộc-tính-khác>
    Tuyển thủ thắng trận sẽ nhận được phần quà này của bạn
</marquee>
