<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/landing.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script>
    //modal video
    $('.video').on('click',function () {
        var link_video = $(this).data('link');
        $('.modal-video iframe').attr('src',link_video);
    });
    $('.modal,.close').on('click',function () {
        var link_video = '';
        $('.modal-video iframe').attr('src',link_video);
    });
    //scroll effect
    $.fn.isInViewport = function() {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight();

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    $(window).on('resize scroll load', function() {
        $('.fadeup').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('fadeInUp').css({'opacity':'1','visibility':'visible'});
            }
        });
        $('.fadein').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('fadeIn').css({'opacity':'1','visibility':'visible'});
            }
        });
        $('.zoomin').each(function() {
            if ($(this).isInViewport()) {
                $(this).addClass('zoomIn').css({'opacity':'1','visibility':'visible'});
            }
        });
    });
</script>
</body>
</html>