<main>
    <div class="container">
        <div class="login flex-lc">
            <div class="info flex">
                <p>Xin chào, <span>Anonymous</span></p>
                <p>Gạo: <span>10.000</span></p>
            </div>
            <button type="button" class="btn-payment">Nạp</button>
            <button type="button" class="btn-logout">Thoát</button>
        </div>
        <div class="box-md flex-lc mb-4">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm: Tên VĐV, Tên Team, trận đấu v.v...">
                <button type="submit" class="btn-submit flex-center">TÌM KIẾM</button>
            </form>
            <div class="box-btn flex">
                <button type="button" class="btn-guess pr">dự đoán ngay</button>
                <button type="button" class="btn-voted pr">bình chọn ngay</button>
            </div>
        </div>
        <div class="ranking">
            <div class="ranking__header">
                <h1>bảng xếp hạng</h1>
                <p>top 8 game thủ</p>
            </div>
            <div class="ranking__table">
                <table>
                    <thead>
                        <tr>
                            <th>Hạng</th>
                            <th>tổng trận</th>
                            <th>trận thắng</th>
                            <th>trận thua</th>
                            <th>ván thắng</th>
                            <th>ván thua</th>
                            <th>hiệu số</th>
                            <th>tổng điểm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">1</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>Chim se di nang</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">2</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>Shenlong</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">3</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>hehe</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">4</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>bibi</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">5</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>Shenlong</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">6</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>Shenlong</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">7</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>Shenlong</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex-lc">
                                    <span class="stt">8</span>
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <p>Shenlong</p>
                                </div>
                            </td>
                            <td>
                                <span>8</span>
                            </td>
                            <td>
                                <span style="color: #fedf75;">6</span>
                            </td>
                            <td>
                                <span style="color: #fe7171;">2</span>
                            </td>
                            <td>
                                <span>18</span>
                            </td>
                            <td>
                                <span>4</span>
                            </td>
                            <td>
                                <span>80%</span>
                            </td>
                            <td>
                                <span style="color: #ccff33;">60</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ads ads-v mb-200">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
    </div>
</main>