<main>
    <div class="container">
        <div class="login flex-lc">
            <div class="box-btn flex">
                <button type="button" class="btn-register flex-center">đăng ký</button>
                <button type="button" class="btn-login flex-center">đăng nhập</button>
            </div>
            <div class="text">Tài khoản mới tặng ngay 10.000 gạo, nhanh tay đặt ngay trận hot !!!</div>
        </div>
        <div class="box-md flex-lc mb-4">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm: Tên VĐV, Tên Team, trận đấu v.v...">
                <button type="submit" class="btn-submit flex-center">TÌM KIẾM</button>
            </form>
            <div class="box-btn flex">
                <button type="button" class="btn-guess pr">dự đoán ngay</button>
                <button type="button" class="btn-voted pr">bình chọn ngay</button>
            </div>
        </div>
        <div class="box-ads pr">
            <div class="ads ads-v">
                <a href=""><img src="./assets/img/web/ads3.jpg" alt=""></a>
            </div>
            <div class="ads ads-h ads-l">
                <a href=""><img src="./assets/img/web/ads1.jpg" alt=""></a>
            </div>
            <div class="ads ads-h ads-r">
                <a href=""><img src="./assets/img/web/ads2.jpg" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2 class="title title-live">ĐANG DIỄN RA</h2>
                <div class="match">
                    <div class="header flex-lc">
                        <div class="live flex-lc">LIVE</div>
                        <h4>Vòng tứ kết</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">Chim se di nang</div>
                        </div>
                        <div class="info">
                            <h5>vòng tứ kết</h5>
                            <div class="score flex-center">
                                <span>0</span>
                                <span>-</span>
                                <span>0</span>
                            </div>
                            <p>Solo random</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">shen long</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <div class="box-btn">
                            <button type="button" class="btn-dd flex-center">dự đoán</button>
                        </div>
                        <div class="box-btn">
                            <button type="button" class="btn-dd flex-center">dự đoán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2 class="title title-finished">đã kết thúc</h2>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Showmatch Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">Chim se di nang</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>2</span>
                                <span>-</span>
                                <span>1</span>
                            </div>
                            <p>Solo Assyrian</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">shen long</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <button type="button" class="btn-view flex-center">xem replay</button>
                    </div>
                </div>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Showmatch Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">Chim se di nang</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>2</span>
                                <span>-</span>
                                <span>1</span>
                            </div>
                            <p>Solo Assyrian</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">shen long</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <button type="button" class="btn-view flex-center">xem replay</button>
                    </div>
                </div>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Showmatch Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">Chim se di nang</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>2</span>
                                <span>-</span>
                                <span>1</span>
                            </div>
                            <p>Solo Assyrian</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">shen long</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <button type="button" class="btn-view flex-center">xem replay</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2 class="title title-coming">trận sắp tới</h2>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">hong anh</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>- VS -</span>
                            </div>
                            <p>Solo random</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">he he</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <div class="flex">
                            <button type="button" class="btn-gift flex-center">tặng quà</button>
                            <button type="button" class="btn-gg flex-center">dự đoán ngay</button>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">hong anh</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>- VS -</span>
                            </div>
                            <p>Solo random</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">he he</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <div class="flex">
                            <button type="button" class="btn-gift flex-center">tặng quà</button>
                            <button type="button" class="btn-gg flex-center">dự đoán ngay</button>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">hong anh</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>- VS -</span>
                            </div>
                            <p>Solo random</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">he he</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <div class="flex">
                            <button type="button" class="btn-gift flex-center">tặng quà</button>
                            <button type="button" class="btn-gg flex-center">dự đoán ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ads ads-v">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Showmatch Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">Chim se di nang</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>2</span>
                                <span>-</span>
                                <span>1</span>
                            </div>
                            <p>Solo Assyrian</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">shen long</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <button type="button" class="btn-view flex-center">xem replay</button>
                    </div>
                </div>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Showmatch Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">Chim se di nang</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>2</span>
                                <span>-</span>
                                <span>1</span>
                            </div>
                            <p>Solo Assyrian</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">shen long</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <button type="button" class="btn-view flex-center">xem replay</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">hong anh</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>- VS -</span>
                            </div>
                            <p>Solo random</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">he he</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <div class="flex">
                            <button type="button" class="btn-gift flex-center">tặng quà</button>
                            <button type="button" class="btn-gg flex-center">dự đoán ngay</button>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="header flex-lc">
                        <h4>Vòng loại</h4>
                        <time>14h00 - 22/02/2022</time>
                    </div>
                    <div class="middle flex">
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                            <div class="player__name">hong anh</div>
                        </div>
                        <div class="info">
                            <h5>vòng loại 1</h5>
                            <div class="score flex-center">
                                <span>- VS -</span>
                            </div>
                            <p>Solo random</p>
                        </div>
                        <div class="player">
                            <div class="player__img"><img src="./assets/img/web/avt2.jpg" alt=""></div>
                            <div class="player__name">he he</div>
                        </div>
                    </div>
                    <div class="bottom flex-between">
                        <p>AoE spring Cup 2022</p>
                        <div class="flex">
                            <button type="button" class="btn-gift flex-center">tặng quà</button>
                            <button type="button" class="btn-gg flex-center">dự đoán ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn-viewmore flex-center mt-1 mb-2">Xem thêm</button>
        <div class="ads ads-v">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
    </div>
    <div class="modal fade modal-gift" id="modal-gift">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Tặng quà</h2>
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                </div>
                <div class="modal-body">
                    <div class="gift">
                        <h4>Tuyển thủ thắng trận sẽ nhận được phần quà này của bạn</h4>
                        <div class="box-select flex">
                            <h5>Chọn trận</h5>
                            <p>hong anh</p>
                            <time>15h00 - 27/02/2022</time>
                            <select name="">
                                <option value="">he he</option>
                            </select>
                        </div>
                        <div class="box-select flex">
                            <h5>Chọn quà</h5>
                            <select name="" class="select2">
                                <option value="">20k</option>
                                <option value="">50k</option>
                                <option value="">100k</option>
                                <option value="">200k</option>
                                <option value="">500k</option>
                            </select>
                        </div>
                    </div>
                    <div class="syntax">
                        <h4>Cú pháp</h4>
                        <div class="code flex-center">aoe 020 20k</div>
                        <div class="text">Mã giải + Mã trận + Phần quà</div>
                        <div class="box-btn flex">
                            <button type="button" class="btn-copy flex-center">sao chép mã</button>
                            <button type="button" class="btn-submit flex-center">gửi dự đoán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>