<header>
    <nav class="navbar">
        <ul class="menu flex">
            <li><a href="" title="trang chủ">trang chủ</a></li>
            <li>
                <a href="" title="cộng đồng">cộng đồng</a>
                <ul class="sub-menu">
                    <li><a href="" title="Thông tin sự kiện">Thông tin sự kiện</a></li>
                    <li><a href="" title="Bảng xếp hạng">Bảng xếp hạng</a></li>
                    <li><a href="" title="Cách thức đăng ký gói nhà mạng">Cách thức đăng ký gói nhà mạng</a></li>
                </ul>
            </li>
            <li><a href="" title="tin tức">tin tức</a></li>
            <li><a href="" title="truyền thông">truyền thông</a></li>
            <li><a href="" title="thông tin giải đấu">thông tin giải đấu</a></li>
            <li><a href="" title="gói đăng ký">gói đăng ký</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1><a href="" title="" class="logo"><img src="./assets/img/landing/logo.png" alt=""></a></h1>
    <div class="intro">
        <div class="avt flex">
            <div class="avt__img js-animation zoomin"><img src="./assets/img/landing/avt1.png" alt=""></div>
            <div class="avt__img js-animation zoomin"><img src="./assets/img/landing/avt2.png" alt=""></div>
            <div class="avt__img js-animation zoomin"><img src="./assets/img/landing/avt3.png" alt=""></div>
        </div>
        <div class="text js-animation fadeup">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
    </div>
    <div class="award flex js-animation fadeup">
        <div class="award__img award__img--1"><img src="./assets/img/landing/ar1.png" alt=""></div>
        <div class="award__img award__img--2"><img src="./assets/img/landing/ar2.png" alt=""></div>
        <div class="award__img award__img--3"><img src="./assets/img/landing/ar3.png" alt=""></div>
    </div>
    <div class="box-join js-animation fadeup">
        <h2 class="title">THAM GIA DỰ ĐOÁN VÀ BÌNH CHỌN CHO CÁC GAME THỦ ĐƯỢC ƯA THÍCH</h2>
        <div class="box-btn flex">
            <a href="" title="" class="btn-register flex-center">Đăng ký xem Free <br> độc quyền trên TVPlay</a>
            <a href="" title="" class="btn-guess flex-center"> Dự đoán trúng ngay <br> phần thưởng</a>
            <a href="" title="" class="btn-gift flex-center">Gửi quà tặng đến các VĐV</a>
        </div>
    </div>
    <div class="box-video js-animation fadeup">
        <div class="video pr" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/ns2FZ0RcFPc?autoplay=1">
            <div class="video__thumb"><img src="./assets/img/landing/thumb-video.jpg" alt=""></div>
        </div>
        <div class="text">
            <h3>AoE Cơm Thịt Sẻ | Chung Kết | 02/10/2021 | BLV GMan | G Play | GTV</h3>
            <p>Vietnam GameTV, Oct 2, 2021</p>
        </div>
    </div>
    <div class="modal fade modal-video" id="modal-video">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                <iframe src="" title=""  allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <h4>Công ty cổ phần công nghệ GTV Việt Nam</h4>
        <div class="box-logo box-logo--1 flex-lc">
            <a href="" title="" class="icom"><img src="./assets/img/landing/icom.png" alt=""></a>
            <a href="" title="" class="tvplay"><img src="./assets/img/landing/tvplay.png" alt=""></a>
        </div>
        <div class="text">
            <p>Giấy phép MXH số 146/GP-BTTTT Được cấp bởi Bộ Thông Tin và Truyền Thông</p>
            <p>© Copyright 2020. Bản quyền thuộc về GTV. Cấm sao chép dưới mọi hình thức.</p>
        </div>
        <div class="box-logo box-logo--2 flex-lc">
            <a href="" title="" class="gtv"><img src="./assets/img/landing/gtv.png" alt=""></a>
            <a href="" title="" class="vinaphone"><img src="./assets/img/landing/vinaphone.png" alt=""></a>
            <a href="" title="" class="mobiphone"><img src="./assets/img/landing/mobifone.png" alt=""></a>
        </div>
    </div>
</footer>