<main>
    <div class="container">
        <div class="login flex-lc">
            <div class="info flex">
                <p>Xin chào, <span>Anonymous</span></p>
                <p>Gạo: <span>10.000</span></p>
            </div>
            <button type="button" class="btn-payment">Nạp</button>
            <button type="button" class="btn-logout">Thoát</button>
        </div>
        <div class="box-md flex-lc mb-4">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm: Tên VĐV, Tên Team, trận đấu v.v...">
                <button type="submit" class="btn-submit flex-center">TÌM KIẾM</button>
            </form>
            <div class="box-btn flex">
                <button type="button" class="btn-guess pr">dự đoán ngay</button>
                <button type="button" class="btn-voted pr">bình chọn ngay</button>
            </div>
        </div>
        <div class="box-news">
            <h1 class="title">tin tức</h1>
            <div class="news row flex">
                <div class="col-lg-9">
                    <div class="news__highlight row">
                        <div class="col-lg-6 col-md-6">
                            <article class="post pr">
                                <a href="" title="" class="post__img"><img src="./assets/img/web/img1.jpg" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Trận đấu giữa Chim Sẻ Đi Nắng và Cam Quýt bất ngờ nóng lên vì một cái tên không ai ngờ tới</a></h3>
                                    <time>12/05/2022 22:03</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="post pr">
                                <a href="" title="" class="post__img"><img src="./assets/img/web/img2.jpg" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Lôi Lão Hổ "khuất phục" Hồng Anh bằng kỹ năng quản map đỉnh cao</a></h3>
                                    <time>12/05/2022 22:03</time>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="news__list">
                        <h2><span>tin mới</span></h2>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img3.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img4.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img5.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                    </div>
                    <div class="news__highlight row">
                        <div class="col-lg-6 col-md-6">
                            <article class="post pr">
                                <a href="" title="" class="post__img"><img src="./assets/img/web/img1.jpg" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Trận đấu giữa Chim Sẻ Đi Nắng và Cam Quýt bất ngờ nóng lên vì một cái tên không ai ngờ tới</a></h3>
                                    <time>12/05/2022 22:03</time>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="post pr">
                                <a href="" title="" class="post__img"><img src="./assets/img/web/img2.jpg" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Lôi Lão Hổ "khuất phục" Hồng Anh bằng kỹ năng quản map đỉnh cao</a></h3>
                                    <time>12/05/2022 22:03</time>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="news__list">
                        <h2><span>hi-light</span></h2>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img3.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img4.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img5.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                    </div>
                    <button type="button" class="btn-viewmore flex-center">xem thêm</button>
                </div>
                <div class="col-lg-3">
                    <div class="ads ads-h mb-5">
                        <a href=""><img src="./assets/img/web/ads5.png" alt=""></a>
                    </div>
                    <div class="ads ads-h">
                        <a href=""><img src="./assets/img/web/ads6.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ads ads-v">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
    </div>
</main>