<main>
    <div class="container">
        <div class="login flex-lc">
            <div class="info flex">
                <p>Xin chào, <span>Anonymous</span></p>
                <p>Gạo: <span>10.000</span></p>
            </div>
            <button type="button" class="btn-payment">Nạp</button>
            <button type="button" class="btn-logout">Thoát</button>
        </div>
        <div class="box-md flex-lc mb-4">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm: Tên VĐV, Tên Team, trận đấu v.v...">
                <button type="submit" class="btn-submit flex-center">TÌM KIẾM</button>
            </form>
            <div class="box-btn flex">
                <button type="button" class="btn-guess pr">dự đoán ngay</button>
                <button type="button" class="btn-voted pr">bình chọn ngay</button>
            </div>
        </div>
        <div class="box-news">
            <h2 class="title">tin tức</h2>
            <div class="news row flex">
                <div class="col-lg-9">
                    <div class="detail">
                        <h1>Giải AoE IV Quốc tế tiếp theo sẽ thi đấu thể thức nào?</h1>
                        <time>10/05/2022 22:58</time>
                        <article>
                            <p><strong>Những giải đấu AoE IV trong khoảng vài tháng vừa qua hầu hết đều chọn 1v1 làm thể thức thi đấu. Tuy nhiên ở giải đấu tiếp theo đã có sự thay đổi.</strong></p>
                            <p>Kể từ khi ra mắt vào tháng 10 năm 2021 cho tới nay, cộng đồng AoE IV đã được chứng kiến không ít các giải đấu lớn mang tầm cỡ quốc tế. Trong số đó, hai giải đấu có số tiền thưởng lớn nhất có thể kể đến N4C (100,000 USD) và The Golden League (125,000 USD).</p>
                            <p><img src="./assets/img/web/img7.jpg" alt=""></p>
                            <p>Hai giải đấu nêu trên đều thi đấu ở thể thức đối kháng 1v1. Các tuyển thủ thi đấu AoE IV ở khắp nơi trên Thế giới sẽ được chọn vào vòng Chung kết từ nhiều vòng loại nhỏ khác nhau. Có thể nói rằng hành trình vô địch những giải đấu lớn như vậy là vô cùng khốc liệt.</p>
                            <p>Bên cạnh N4C và The Golden League, hầu hết các giải đấu AoE IV lớn nhỏ tính đến thời điểm này đều lựa chọn thi đấu thể thức 1v1. Tuy nhiên theo thông tin được hé lộ, giải đấu mang tầm cỡ Thế giới tiếp theo sẽ không thi đấu 1v1, thay vào đó là thể thức đồng đội 2v2. Đây cũng là thể thức thi đấu đòi hỏi tinh thần đoàn kết của các game thủ, đồng thời tăng tính chiến thuật trong mỗi game đấu. Sự lựa chọn này là vô cùng hợp lý sau khoảng thời gian mà quá nhiều giải 1v1 diễn ra khiến cho cộng đồng có phần nhàm chán, kém đa dạng.</p>
                            <p>Dự kiến, giải đấu 2v2 sẽ diễn ra trong vài tuần nữa. Sau khi biết tin, cộng đồng AoE IV tại Việt Nam cũng đã bắt đầu rục rịch lên kế hoạch luyện tập với mong muốn đưa tên tuổi của AoE Việt vươn tầm Thế giới.</p>
                        </article>
                    </div>
                    <div class="news__list">
                        <h2><span>tin liên quan</span></h2>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img3.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img4.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                        <article class="post flex">
                            <a href="" class="post__thumb"><img src="./assets/img/web/img5.jpg" alt=""></a>
                            <div class="post__content flex">
                                <div class="content">
                                    <h3><a href="" title="">VEC và EGO cùng tái cơ cấu đội hình, Slow But Sure “đi đâu về đâu”?</a></h3>
                                    <p>VEC và EGO hiện tại đang có những team 4vs4 quá mạnh và người hâm mộ Slow But Sure chắc chắn không khỏi lo lắng về điều này</p>
                                </div>
                                <time>10/05/2022 22:58</time>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ads ads-h mb-2">
                        <a href=""><img src="./assets/img/web/ads5.png" alt=""></a>
                    </div>
                    <div class="ads ads-h">
                        <a href=""><img src="./assets/img/web/ads6.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ads ads-v">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
    </div>
</main>