<main>
    <div class="container">
        <div class="login flex-lc">
            <div class="info flex">
                <p>Xin chào, <span>Anonymous</span></p>
                <p>Gạo: <span>10.000</span></p>
            </div>
            <button type="button" class="btn-payment">Nạp</button>
            <button type="button" class="btn-logout">Thoát</button>
        </div>
        <div class="box-md flex-lc mb-4">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm: Tên VĐV, Tên Team, trận đấu v.v...">
                <button type="submit" class="btn-submit flex-center">TÌM KIẾM</button>
            </form>
            <div class="box-btn flex">
                <button type="button" class="btn-guess pr">dự đoán ngay</button>
                <button type="button" class="btn-voted pr">bình chọn ngay</button>
            </div>
        </div>
        <div class="box-ads pr">
            <div class="ads ads-h ads-l">
                <a href=""><img src="./assets/img/web/ads1.jpg" alt=""></a>
            </div>
            <div class="ads ads-h ads-r">
                <a href=""><img src="./assets/img/web/ads2.jpg" alt=""></a>
            </div>
        </div>
        <div class="prize">
            <h1 class="title">Giải thưởng</h1>
            <div class="prize__img"><img src="./assets/img/web/img-prize.png" alt=""></div>
            <div class="prize__content">
                <h2>THƯỞNG EVENT DỰ ĐOÁN DÀNH CHO KHÁN GIẢ</h2>
                <table>
                    <tr>
                        <td>1</td>
                        <td rowspan="9"><span class="text-center">Thưởng event dự đoán dành cho khán giả</span></td>
                        <td>Dự đoán kết quả trận đấu</td>
                        <td>
                            <p>- 50.000/1 mã trúng</p>
                            <p>- 50 giải sớm nhất, 50 giải muộn nhất, 50 giải hệ thống chọn ngẫu nhiên</p>
                            <p>- 1 người có khả năng trúng nhiều giải</p>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Dự đoán tỷ số trận đấu</td>
                        <td>
                            <p>- 100.000/1 mã trúng</p>
                            <p>- 50 giải sớm nhất, 50 giải muộn nhất, 50 giải hệ thống chọn ngẫu nhiên</p>
                            <p>- 1 người có khả năng trúng nhiều giải</p>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Dự đoán tổng chém</td>
                        <td>
                            <p>- 50.000/1 mã trúng</p>
                            <p>- 50 giải sớm nhất, 50 giải muộn nhất, 50 giải hệ thống chọn ngẫu nhiên</p>
                            <p>- 1 người có khả năng trúng nhiều giải</p>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Dự đoán tổng cung</td>
                        <td>
                            <p>- 50.000/1 mã trúng</p>
                            <p>- 50 giải sớm nhất, 50 giải muộn nhất, 50 giải hệ thống chọn ngẫu nhiên</p>
                            <p>- 1 người có khả năng trúng nhiều giải</p>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Dự đoán VĐV vô địch lượt đi</td>
                        <td>
                            <p>- giải nhất: 1 xe máy 35tr</p>
                            <p>- giải nhì: 1 laptop 20tr</p>
                            <p>- giải ba: 1 điện thoại 10tr</p>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Dự đoán VĐV vô địch cả giải</td>
                        <td>
                            <p>- giải nhất: 1 xe máy 35tr</p>
                            <p>- giải nhì: 1 laptop 20tr</p>
                            <p>- giải ba: 1 điện thoại 10tr</p>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Người dự đoán trúng nhiều nhất trong tuần</td>
                        <td>
                            <p>Top 1 Điện thoại trị giá 8tr</p>
                            <p>Top 2 Điện thoại 6tr</p>
                            <p>Top 3 Điện thoại 4tr</p>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Người dự đoán trúng nhiều nhất trong tháng</td>
                        <td>
                            <p>Top 1 laptop 15tr</p>
                            <p>Top 2 laptop 12tr</p>
                            <p>Top 3 laptop 10tr</p>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Người dự đoán trúng nhiều nhất trong mùa giải</td>
                        <td>
                            <p>Top 1 xe trị giá 45tr</p>
                            <p>Top 2 xe trị giá 35tr</p>
                            <p>Top 3 xe trị giá 25tr</p>
                        </td>
                    </tr>
                </table>
                <h2>Thưởng vận động viên</h2>
                <table>
                    <tr>
                        <td>1</td>
                        <td rowspan="4"><span class="text-center">Thưởng vận động viên</span></td>
                        <td>Hạng 1</td>
                        <td><strong>30.000.000 vnđ</strong></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hạng 2</td>
                        <td><strong>20.000.000 vnđ</strong></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Hạng 3</td>
                        <td><strong>15.000.000 vnđ</strong></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>VĐV được yêu thích nhất (do khán giả bình chọn)</td>
                        <td><strong>5.000.000 vnđ</strong></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ads ads-v mb-200">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
    </div>
</main>