<main>
    <div class="container">
        <div class="login flex-lc">
            <div class="info flex">
                <p>Xin chào, <span>Anonymous</span></p>
                <p>Gạo: <span>10.000</span></p>
            </div>
            <button type="button" class="btn-payment">Nạp</button>
            <button type="button" class="btn-logout">Thoát</button>
        </div>
        <div class="box-md flex-lc mb-4">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm: Tên VĐV, Tên Team, trận đấu v.v...">
                <button type="submit" class="btn-submit flex-center">TÌM KIẾM</button>
            </form>
            <div class="box-btn flex">
                <button type="button" class="btn-guess pr">dự đoán ngay</button>
                <button type="button" class="btn-voted pr">bình chọn ngay</button>
            </div>
        </div>
        <div class="bonus">
            <div class="bonus__img"><img src="./assets/img/web/gift.png" alt=""></div>
            <div class="bonus__list">
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/cup.png" alt=""></div>
                    <p>dự đoán kết quả trận đấu</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/cup.png" alt=""></div>
                    <p>dự đoán tỷ số trận đấu</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/cup.png" alt=""></div>
                    <p>dự đoán tổng chém</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/cup.png" alt=""></div>
                    <p>dự đoán tổng cung</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/cup.png" alt=""></div>
                    <p>dự đoán vận động viên vô địch lượt đi</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/cup.png" alt=""></div>
                    <p>dự đoán vận động viên vô địch cả giải</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/xh.png" alt=""></div>
                    <p>Người dự đoán trúng nhiều nhất nhất trong tuần</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/xh.png" alt=""></div>
                    <p>Người dự đoán trúng nhiều nhất trong tháng</p>
                </div>
                <div class="item flex">
                    <div class="icon"><img src="./assets/img/web/xh.png" alt=""></div>
                    <p>Người dự đoán trúng nhiều nhất trong mùa giải</p>
                </div>
            </div>
        </div>
        <div class="ads ads-v mb-200">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
    </div>
    <div class="modal fade modal-prize" id="modal-prize">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">danh sách trúng thưởng</h2>
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                </div>
                <div class="modal-body">
                    <h4>Dự đoán kết quả trận đấu</h4>
                    <div class="sort">
                        <select id="" name="">
                            <option value="sắp xếp theo ngày">sắp xếp theo ngày</option>
                        </select>
                    </div>
                    <div class="box-table">
                        <time>25/05/2022</time>
                        <table>
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Số điện thoại</th>
                                    <th>nhà mạng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>098******789</td>
                                    <td>viettel</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>098******789</td>
                                    <td>viettel</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>098******789</td>
                                    <td>viettel</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-table">
                        <time>25/05/2022</time>
                        <table>
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số điện thoại</th>
                                <th>nhà mạng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>098******789</td>
                                <td>viettel</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>098******789</td>
                                <td>viettel</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>098******789</td>
                                <td>viettel</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>