<main>
    <div class="container">
        <div class="login flex-lc">
            <div class="info flex">
                <p>Xin chào, <span>Anonymous</span></p>
                <p>Gạo: <span>10.000</span></p>
            </div>
            <button type="button" class="btn-payment">Nạp</button>
            <button type="button" class="btn-logout">Thoát</button>
        </div>
        <div class="box-md flex-lc mb-4">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm: Tên VĐV, Tên Team, trận đấu v.v...">
                <button type="submit" class="btn-submit flex-center">TÌM KIẾM</button>
            </form>
            <div class="box-btn flex">
                <button type="button" class="btn-guess pr">dự đoán ngay</button>
                <button type="button" class="btn-voted pr">bình chọn ngay</button>
            </div>
        </div>
        <div class="box-ads pr">
            <div class="ads ads-h ads-l">
                <a href=""><img src="./assets/img/web/ads1.jpg" alt=""></a>
            </div>
            <div class="ads ads-h ads-r">
                <a href=""><img src="./assets/img/web/ads2.jpg" alt=""></a>
            </div>
        </div>
        <div class="box-voted">
            <h2 class="title">bình chọn</h2>
            <div class="voted row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                    <div class="voted__ty"><img src="./assets/img/web/gtv.png" alt=""></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="voted__list row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="voted row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                    <div class="voted__ty"><img src="./assets/img/web/vec.png" alt=""></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="voted__list row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="voted row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                    <div class="voted__ty"><img src="./assets/img/web/sbs.png" alt=""></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="voted__list row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="candidate">
                                <div class="candidate__info">
                                    <div class="avatar"><img src="./assets/img/web/avt1.jpg" alt=""></div>
                                    <div class="name">Chim se di nang</div>
                                </div>
                                <div class="candidate__vote flex-lc">
                                    <p>Lượt bình chọn <span>12,383</span></p>
                                    <button type="button" class="btn-vote">bình chọn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ads ads-v mb-200">
            <a href=""><img src="./assets/img/web/ads4.jpg" alt=""></a>
        </div>
    </div>
</main>