body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #0e2e47 url("#{$img-path}/web/bg-footer.jpg") no-repeat bottom center/contain;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
@mixin txt-1{font-size: 18px; line-height: 22px; color: #fff; font-weight: 700;}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}

a{transition: .25s;}
a:hover{text-decoration: none;}
header{
  width: 100%; min-height: 520px;
  background: url("#{$img-path}/web/bg-header.jpg") no-repeat 50% 0/cover;
  .logo{
    padding: 15px 20px 10px;
    a{display: block; margin-right: 22px;}
    a:nth-child(3){padding-top: 8px;}
  }
  .slider{
    img{border-radius: 12px;}
  }
}
.box-right{
  width: 150px; height: 265px;
  padding-top: 114px;
  background: url("#{$img-path}/web/bg-right.png") no-repeat 0 0/contain;
  position: fixed; top: 50%; right: 0; transform: translateY(-50%); z-index: 9;
  button{
    @include txt-1;
    width: 142px; height: 32px; margin: 0 auto 9px;
    display: block; text-align: center;
    background: linear-gradient(to right, #1697F2 0%, #02C8E2 100%);
    border-radius: 9999px; line-height: 32px;
    text-transform: uppercase;
    &:hover{opacity: .9;}
  }
  .btn-guess{margin-bottom: 15px; background: linear-gradient(to right, #F53D79 0%, #F77172 100%);}
}
.navbar{
  margin-top: 10px;
  background: #010e1f;
  ul{
    width: 100%; z-index: 2;
    a{display: block; padding: 12px 15px; color: #fff; text-transform: uppercase; font-weight: 700;}
    a:hover{color: #fffc00;}
  }
  &::after{
    content: "";
    width: 100%;
    height: calc(100% - 6px);
    border-top: 1px solid rgba(#05c6e1,.1);
    border-bottom: 1px solid rgba(#05c6e1,.1);
    position: absolute; top: 3px; left: 0;
  }
}
marquee{
  color: #fff;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
}
//main
.login{
  margin: 19px 0 10px;
  padding: 6px 7px;
  border-radius: 9999px;
  border: 1px dashed rgba(#fff,.2);
  .text{margin-left: auto; padding-right: 13px; font-size: 18px; line-height: 24px; color: #fff; font-weight: 700;}
  .box-btn{
    >*+*{margin-left: 10px;}
    button{width: 206px; height: 38px; border-radius: 9999px; font-size: 18px; color: #fff; font-weight: 700; line-height: 24px; text-transform: uppercase;}
    button:hover{@include hover;}
    .btn-register{background-image: linear-gradient(to right, #f63c7c, #fe7171);}
    .btn-login{background-image: linear-gradient(to right, #1897f1, #04c8e0);}
  }
  .info{
    padding-left: 22px;
    >*+*::before{
      content: "";
      height: 30px; width: 1px;
      display: block; margin: 0 16px;
      background: rgba(#fff,.2);
    }
    p{display: flex; font-weight: 700; font-size: 18px; color: #fff;}
    p span{margin-left: 5px; color: #fedf75;}
  }
  .btn-payment,.btn-logout{
    width: 136px; height: 38px;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{@include hover;}
  }
  .btn-payment{
    margin-left: 26px;
    background-image: linear-gradient(to right, #ffc547, #fff48a);
  }
  .btn-logout{margin-left: auto; background-image: linear-gradient(to right, #f63c7c, #fe7171); color: #fff;}
}
.form-search{
  width: 740px; height: 50px;
  background: #084a78;
  border: solid 5px #084a78;
  border-radius: 9999px;
  input{
    width: 100%; height: 100%;
    background: none;
    padding: 0 18px;
    border: 1px solid rgba(#fff,.2);
    border-radius: 9999px;
    font-size: 16px;
    line-height: 24px; color: #3f9cc3;
    &::placeholder{color: #3f9cc3;}
  }
  .btn-submit{
    width: 101px; height: 32px;
    background-image: linear-gradient(to top, #1897f1, #04c8e0);
    line-height: 24px; font-weight: 700; color: #fff;
    border-radius: 9999px;
    position: absolute; right: 4px; top: 4px;
    &:hover{@include hover;}
  }
}
.box-btn{
  .btn-guess,.btn-voted{
    width: 220px; height: 50px; margin-left: 10px;
    @include txt-1;
    text-transform: uppercase;
    border-radius: 9999px;
    &::after{
      content: "";
      width: calc(100% - 14px);
      height: calc(100% - 12px);
      border: 1px solid rgba(#fff,.4);
      border-radius: 9999px;
      position: absolute; top: 6px; left: 7px;
    }
  }
  .btn-guess{background-image: linear-gradient(to right, #f63c7c, #fe7171);}
  .btn-voted{background-image: linear-gradient(to right, #1897f1, #04c8e0);}
  button:hover{@include hover;}
}
.match{
  background: #073e64;
  border-radius: 10px;
  margin-bottom: 23px;
  .header{
    padding: 9px 11px;
    .live{
      margin-right: 7px; color: #ff3d3d; text-transform: uppercase; font-weight: 700;
      &::before{
        content: "";
        width: 18px; height: 18px;
        display: block;
        margin-right: 4px;
        border-radius: 50%;
        background: #ff3d3d;
      }
    }
    h4{color: #fff; font-weight: 700; font-size: 14px;}
    time{margin-left: auto; color: #3f9cc3;}
  }
  .middle{
    padding: 18px 0 20px;
    background: #084a78;
    text-align: center;
    .info{width: 26%; padding: 0 5px;}
    h5,p{color: #3f9cc3; text-transform: uppercase; text-align: center;}
    h5{margin-bottom: 0; font-size: 18px;}
    p{font-size: 14px;}
  }
  .bottom{
    height: 51px; align-items: center;
    p{
      width: 40%;
      padding-left: 12px; text-transform: uppercase; font-weight: 700; font-size: 18px; color: #fedf75;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .btn-view{
      width: 120px; height: 26px;
      margin-right: 12px;
      background: none;
      border: 1px solid rgba(#fff,.3);
      border-radius: 9999px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      &:hover{background: #fff; color: #c00;}
    }
  }
  .score{
    margin: 2px 0; flex-wrap: nowrap;
    span{font-size: 48px; font-weight: 700; color: #fff; white-space: nowrap;}
    span:nth-child(2){margin: 0 24px;}
  }
  .player{
    width: 37%;
    &__img{
      width: 90px; height: 90px;
      margin: 0 auto 8px;
      padding: 5px;
      background: #0a5f9a;
      border-radius: 50%;
      img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
    }
    &__name{@include txt-1; text-transform: uppercase;}
  }
  .box-btn{width: 37%;}
  .btn-dd{
    width: 160px; height: 36px;
    margin: 0 auto;
    @include txt-1;
    text-transform: uppercase;
    border-radius: 9999px;
    background-image: linear-gradient(to right, #f63c7c, #fe7171);
  }
  .btn-gift,.btn-gg{
    @include txt-1;
    height: 36px; margin-right: 11px;
    text-transform: uppercase;
    border-radius: 9999px;
  }
  .btn-gift{width: 140px; background-image: linear-gradient(to right, #1897f1, #04c8e0);}
  .btn-gg{width: 180px; background-image: linear-gradient(to right, #f63c7c, #fe7171)}
}
.box-voted{
  .title{margin-bottom: -5px; color: #1897f1;}
  .row{margin: 0 -10px;}
  .voted{
    padding: 20px 0;
    border-bottom: 1px dashed rgba(#fff,.2);
    &:last-child{border-bottom: none;}
    .col-lg-3,.col-lg-9,.col-lg-4{padding: 0 10px;}
    &__ty{}
  }
}
.candidate{
  background: #084a78;
  border-radius: 10px;
  overflow: hidden;
  .avatar{
    width: 135px; height: 135px; margin: 0 auto; border-radius: 50%; padding: 5px; background: #0a5f9a;
    img{border-radius: 50%; width: 100%; height: 100%; object-fit: cover;}
  }
  .name{@include txt-1; margin-top: 18px; text-transform: uppercase; text-align: center;}
  &__info{padding: 32px 0 20px;}
  &__vote{
    background: #073e64; padding: 7px 10px; justify-content: space-between;
    p{font-size: 12px; text-transform: uppercase; color: #fff;}
    span{display: block; color: #fedf75; font-size: 24px; font-weight: 700; line-height: 1;}
  }
  .btn-vote{
    width: 120px; height: 35px;
    border-radius: 9999px;
    background-image: linear-gradient(to right, #f63c7c, #fe7171);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{@include hover;}
  }
}
.ads{
  img{border-radius: 12px;}
  &-v{margin-bottom: 22px;}
}
.ranking{
  &__header{
    width: 100%; height: 200px;
    padding: 30px 40px;
    background: url("#{$img-path}/web/bg-bxh.jpg") no-repeat 0 0/cover;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    h1{font-size: 36px; font-weight: 700;}
    p{font-size: 24px;}
  }
  &__table{
    margin-bottom: 20px;
    overflow: auto;
    .stt{margin-right: 20px; font-size: 24px;}
    .avatar{
      width: 37px; height: 37px; border-radius: 50%; border: 2px solid rgba(#fff,.2);
      img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
    }
    p{text-align: left; font-size: 18px; text-transform: uppercase; margin-left: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
  }
  table{
    width: 100%;
    min-width: 540px;
    color: #fff;
    th:nth-child(1){text-align: left; padding-left: 19px;}
    th,td{font-weight: 700; text-align: center;}
    th{padding: 16px 0; text-transform: uppercase;}
    td{text-align: center; padding: 6px 0; position: relative;}
    tbody{
      tr{border-bottom: 5px solid #0e2e47;}
      tr td:first-child > div{flex-wrap: nowrap;}
      tr:nth-child(1){
        td:first-child > div::before{
          content: "";
          width: 165px; height: 50px;
          background: #ca344d; border-radius: 10px 0 0 10px;
          position: absolute; top: 0; left: 0;
        }
        td:first-child > div::after{
          content: "";
          border-style: solid;
          border-color: #ca344d transparent transparent transparent;
          border-width: 50px;
          position: absolute; left: 115px; top: 0;
        }
      }
      tr:nth-child(2){
        td:first-child > div::before{
          content: "";
          width: 110px; height: 50px;
          background: #1277bc; border-radius: 10px 0 0 10px;
          position: absolute; top: 0; left: 0;
        }
        td:first-child > div::after{
          content: "";
          border-style: solid;
          border-color: #1277bc transparent transparent transparent;
          border-width: 50px;
          position: absolute; left: 60px; top: 0;
        }
      }
      tr:nth-child(3){
        td:first-child > div::before{
          content: "";
          width: 54px; height: 50px;
          background: #218b3a; border-radius: 10px 0 0 10px;
          position: absolute; top: 0; left: 0;
        }
        td:first-child > div::after{
          content: "";
          border-style: solid;
          border-color: #218b3a transparent transparent transparent;
          border-width: 50px;
          position: absolute; left: 5px; top: 0;
        }
      }
      tr td:first-child div >*{
        position: relative; z-index: 2;
      }
      tr:last-child{border-bottom: none;}
      td{background: #084a78;}
      tr td:first-child{padding-left: 19px; border-radius: 10px 0 0 10px; overflow: hidden;}
      tr td:last-child{border-radius: 0 10px 10px 0;}
    }
  }
}
.box-ads{
  .ads-h{position: absolute; top: 0;}
  .ads-l{left: -165px;}
  .ads-r{right: -165px;}
}
.box-news{
  margin-bottom: 10px;
  .title{margin-bottom: 10px; font-weight: 700; font-size: 36px; line-height: 44px; color: #fff; text-transform: uppercase;}
}
.news{
  margin: 0;
  padding: 10px 5px;
  min-height: 1000px;
  background: #073F64;
  border-radius: 10px;
  .col-lg-9,.col-lg-3{padding: 0;}
  &__highlight{
    margin: 0 0 30px;
    .col-lg-6{padding: 0 5px;}
    .post{
      &__img{
        display: block; border-radius: 6px; overflow: hidden;
        img{width: 100%; object-fit: cover;}
      }
      &__content{
        width: 100%; padding: 10px 12px; background: linear-gradient(180deg, rgba(0, 0, 0, 0.18) 0%, #000000 100%);
        border-radius: 0 0 6px 6px;
        position: absolute; bottom: 0; left: 0;
      }
      h3{margin-bottom: 5px; font-size: 14px; }
      h3 a{font-weight: 700; line-height: 17px; color: #fff;}
      a:hover{color: #fffc00;}
      time{font-size: 12px; line-height: 15px; color: #fff;}
    }
  }
  &__list{
    margin-bottom: 25px;
    h2{
      width: calc(100% - 10px);
      margin:0 auto 5px;
      height: 40px;
      background: #084B78;
      border-radius: 6px;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      overflow: hidden;
      span{
        display: inline-block;
        padding: 0 12px;
        background: linear-gradient(90deg, #1697F2 0%, #02C8E2 100%);
        line-height: 40px;
        position: relative;
        &::after{
          content: "";
          border-style: solid;
          border-width: 40px;
          border-color: transparent #02C8E2 transparent transparent;
          position: absolute;
          transform: rotate(45deg);
          top: -40px;
          right: -40px;
        }
      }
    }
    .post{
      padding: 5px;
      &__thumb{
        width: 275px; display: block; border-radius: 6px; overflow: hidden;
        img{width: 100%; object-fit: cover;}
      }
      &__content{width: calc(100% - 285px); flex-direction: column; justify-content: space-between; margin: 0 0 0 10px; padding: 10px; background: #084B78; border-radius: 6px; color: #fff;}
      h3{
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        a{color: #fff;}
        a:hover{color: #fffc00;}
      }
      p,time{font-size: 12px; line-height: 18px;}
      time{color: #3F9CC3;}
    }
  }
  .detail{
    padding: 10px 15px;
    margin-bottom: 45px;
    h1{
      margin-bottom: 7px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #fff;
    }
    time{font-size: 12px; line-height: 18px; color: #3F9CC3;}
    article{
      margin-top: 10px;
      color: #fff;
      line-height: 24px;
      >*+*{margin-top: 18px;}
    }
  }
  .ads{padding: 0 8px;}
}
.bonus{
  &__img{
    img{display: block; margin: 0 auto;}
  }
  &__list{
    margin: -150px 0 10px;
    padding: 85px 32px;
    background: #073F64;
    border-radius: 10px;
    >*+*{margin-top: 45px;}
    .item{
      padding-left: 20px;
      align-items: center;
      background: linear-gradient(180deg, #083553 0%, #073F64 100%);
      border: 8px solid #084B78;
      border-radius: 6px;
    }
    .icon{width: 136px; margin: -20px 0 0 0;}
    p{
      width: calc(100% - 136px);
      padding-left: 53px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #fff;
      text-shadow: 0px 3px 8px #000000;
      text-transform: uppercase;
    }
  }
}
.prize{
  .title{color: #1697f2; font-size: 30px; font-weight: 700; text-transform: uppercase;}
  &__img img{display: block; margin: 0 auto;}
  &__content{
    padding: 140px 60px 5px;
    margin: -142px 0 10px 0;
    background: #073f64;
    border-radius: 10px;
    h2{margin-bottom: 30px; text-align: center; color: #ffdb71; text-transform: uppercase; font-size: 20px; font-weight: 700;}
  }
  table{
    width: 100%; border-collapse: collapse; margin-bottom: 60px;
    td{border: 1px solid #2e6083; color: #fff; padding: 7px; line-height: 1.7;}
    td:first-child{text-align: center; min-width: 100px;}
    .text-center{text-align: center; display: block;}
  }
}

//modal
.modal{
  .modal-dialog{max-width: 800px;}
  .modal-content{width: 100%; background: #073F64; border-radius: 10px; border: none; position: relative; overflow: hidden;}
  .modal-header{padding: 18px 26px; border-bottom: none;}
  .modal-title{font-size: 30px; font-weight: 700; text-transform: uppercase; color: #fff;}
  .modal-body{padding: 0;}
  .code{
    height: 65px;
    background: #073F64;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #E9B500;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .syntax{
    margin-top: 55px;
    h4{margin-bottom: 20px; padding-left: 20px; text-align: left; color: #FF9D9C; font-weight: 700; font-size: 18px; text-transform: uppercase;}
    span{font-size: 12px; font-weight: 400;}
    .text{margin: 10px 0 15px; text-align: center; color: #fff; font-size: 18px;}
    .box-btn{
      width: 100%;
      justify-content: center;
      button{
        @include txt-1;
        width: 180px; height: 36px; margin: 0 15px; border-radius: 9999px;
        text-transform: uppercase;
      }
      .btn-copy{background: linear-gradient(to right, #1697F2 0%, #02C8E2 100%);}
      .btn-submit{background: linear-gradient(to right, #F53D79 0%, #F77172 100%);}
    }
  }
  .box-select{
    @include txt-1;
    height: auto; width: 100%;
    align-items: center;
    margin: 0 auto 20px;
    padding: 6px 15px;
    background: #084B78;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-transform: uppercase;
    h5{margin: 0 auto 0 0; color: #04C7E1; font-size: 18px; font-weight: 700;}
    > span{margin: 0 24px 0 0; color: #E9B500;}
    time{margin: 0 24px; color: #3F9CC3; font-size: 14px; font-weight: 400;}
    select{
      padding-right: 20px;
      background: none;
      color: #fff;
      border: none;
      text-transform: uppercase;
      &:focus{outline: none;}
    }
    option{
      background: #0E2E47;
      font-weight: 700;
      font-size: 18px;
    }
    input{
      border: none; background: none;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      &::placeholder{color: rgba(196, 196, 196, 0.5);}
    }
    .select2-container{margin: 0;}
  }
  .box-score{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    input{
      width: 120px;
      border: none; background: none;
      color: #fff;
      text-align: center;
      &::placeholder{color: #fff;}
    }
    .space{margin: 0; color: #fff;}
  }
  .close{
    width: 35px; height: 35px;
    margin: 0; padding: 0;
    background: url("#{$img-path}/web/close.png") no-repeat 0 0/contain;
    font-size: 0; opacity: 1;
    position: absolute; right: 25px; top: 25px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-search .select2-search {
    display:none
  }
}
.modal-guess{
  .guess{
    &.active{
      .header{display: none;}
      .content{display: block;}
    }
    .header{
      height: 80px;
      background: linear-gradient(180deg, #083553 0%, #073F64 100%);
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }
    .content{
      display: none;
      min-height: 470px;
      padding: 30px 28px 35px;
      background: url("#{$img-path}/web/bg-pp.jpg") no-repeat 0 0/cover;
      h3{margin-bottom: 27px; text-align: center; color: #fff; font-size: 24px; font-weight: 700; text-transform: uppercase;}
    }
  }
}
.modal-gift{
  .gift{
    min-height: 220px;
    padding: 24px 28px 10px;
    background: url("#{$img-path}/web/bg-pp.jpg") no-repeat 0 0/cover;
    text-align: center;
    h4{@include txt-1; margin-bottom: 39px; text-transform: uppercase;}
  }
  .syntax{margin-top: 0; padding: 20px 28px 34px;}
  .box-select{
    time{color: #3F9CC3;}
  }
}
.modal-prize{
  .modal-body{
    background: #084B78; padding: 26px;
    h4{margin-bottom: 34px; text-align: center; font-weight: 700; font-size: 24px; line-height: 29px; color: #E9B500; text-transform: uppercase;}
    .box-table{
      margin-bottom: 40px;
      &:last-child{margin-bottom: 0;}
    }
    .sort{
      display: flex; justify-content: flex-end;
      select{
        background: #084B78;
        padding: 6px 21px 2px 14px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-transform: uppercase;
      }
    }
    time{@include txt-1; display: block; margin-bottom: 10px;}
    table{
      width: 100%;
      background: #FFFFFF;
      border-radius: 10px;
      border-collapse: collapse;
      overflow: hidden;
      th{
        padding: 15px 5px;
        background: #1697F2;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        text-transform: uppercase;
      }
      td,th{border: 1px solid #000000; text-align: center;}
      td{font-size: 18px; padding: 5px; text-transform: uppercase;}
    }
  }
}
.modal-rule,.modal-giaithuong{
  .modal-body{
    padding: 20px;
    background: url("#{$img-path}/web/bg-pp.jpg") no-repeat 0 0/cover;
    color: #fff;
    font-size: 16px;
    h4{font-size: 18px;}
  }
}
.modal-giaithuong{
  h3{margin-bottom: 10px; padding-bottom: 5px; text-transform: uppercase; border-bottom: 1px solid #fff; font-weight: 700; font-size: 22px;}
  .list{
    margin-bottom: 20px;
    justify-content: center;
    button{
      width: 40%;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: hsla(0,0%,100%,.8);
      min-height: 60px;
      text-align: center;
      padding: 15px;
      border-radius: 10px;
      background: linear-gradient(180deg,#083553,#073f64);
      margin: 10px;
      line-height: 22px;
      transition: 0s;
      &:hover{
        color: #fff;
        background: #0e598b;
      }
    }
  }
}
.modal-prize-detail{
  .modal-dialog{max-width: 500px;}
  .modal-content{
    padding: 1.25em;
    .box-img{margin-bottom: 30px;}
    .text{
      margin-bottom: 30px;
      min-height: 135px;
      padding: 15px;
      border: 1px solid #d9d9d9;
      border-radius: 0.1875em;
      background-color: #4e6d82;
      color: #fff;
      font-size: 16px;
    }
    .btn-ok{
      width: 95px; height: 45px;
      margin: 0 auto;
      background: #3085d6;
      color: #fff;
      font-size: 20px;
      border-radius: 4px;
      &:hover{background: #2b77c0;}
    }
  }
}
.modal-second {
  z-index: 1052;
}

.modal-backdrop.fade {
  & + .modal-backdrop.fade {
    z-index: 1051;
  }
}

//footer
footer{
  margin-top: 100px;
  padding: 45px 0;
  text-align: center;
  h4{
    @include txt-1;
    padding-bottom: 17px;
    border-bottom: 1px solid #084a78;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }
  .hotline{
    @include txt-1;
    text-transform: uppercase;
    padding: 30px 0;
    a{font-size: 30px; color: #fff;}
    span{color: #0f8fe7;}
  }
  .text{font-size: 12px; color: #3f9cc3; line-height: 1.8;}
  .box-logo{
    margin-top: 42px;
    justify-content: center;
    a{margin: 0 10px;}
    a:nth-child(3){margin-top: 8px;}
  }
}

//custom select
.select2-container--default .select2-selection--single{background: none; border: none; border-radius: 0;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color: #fff;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  width: 13px; height: 8px;
  background: url("#{$img-path}/web/coolicon.svg") no-repeat 0 0/contain;
  border: none;
  margin-top: -4px;
}
.select2-container .select2-selection--single .select2-selection__rendered{padding: 0 60px 0 20px;}
.select2-dropdown{
  padding: 5px 0;
  background: #0E2E47;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.select2-container--default .select2-results__option[aria-selected=true]{background: #03192a;}
.select2-results__option{
  padding: 3px 18px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.select2-container--open .select2-dropdown--below{
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

//uikit
.pr{position: relative;}
h2.title{
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  &-live{color: #fa5a76;}
  &-finished{color: #0b619e;}
  &-coming{color: #1897f1;}
}
.container{max-width: 1230px;}
.slick-dots{
  display: flex;
  position: absolute; left: 21px; bottom: 18px;
  li{margin-left: 5px;}
  button{
    width: 10px;
    height: 5px;
    border-radius: 2.5px;
    background: #fff;
    font-size: 0;
    border: none;
    transition: .25s;
  }
  .slick-active button{background: #ff3c3c; width: 50px;}
}
button{
  cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
input:focus{outline: none;}
.mb-200{margin-bottom: 200px;}
.btn-viewmore{
  height: 60px;
  width: calc(100% - 10px);
  margin: -20px auto 0;
  background: linear-gradient(90deg, #F53D79 0%, #F77172 100%);
  border-radius: 6px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  &:hover{background: linear-gradient(90deg, #F77172 0%, #F53D79 100%);}
}

@media (max-width: 1540px) {
  .box-ads{
    .ads-h{display: none;}
  }
}
@media (max-width: 1024px) {
  header{min-height: auto;}
  .box-right{display: none;}
  .navbar{
    ul a{padding: 7px; font-size: 13px;}
  }
  .form-search{
    input{font-size: 13px;}
  }
  .login{
    margin-top: 10px; padding: 10px; justify-content: center;
    .info{width: 100%; justify-content: center; margin-bottom: 10px;}
    .box-btn,.text{width: 100%}
    .box-btn{justify-content: center; margin-bottom: 5px;}
    .btn-logout{margin-left: initial;}
    .btn-payment,.btn-logout{margin: 0 5px; font-size: 16px; max-width: 45%;}
    .text{text-align: center; font-size: 16px; margin-left: initial;}
  }
  .form-search{width: 100%; margin-bottom: 10px;}
  .box-md .box-btn{width: 100%; justify-content: center;}
  .match{
    .player{
      &__name{font-size: 13px; line-height: 1.3;}
      &__img{width: 70px; height: 70px;}
    }
    .score{
      span{line-height: 1; font-size: 32px;}
      span:nth-child(2){margin: 0 10px;}
    }
    .middle{
      h5{font-size: 14px;}
      p{font-size: 11px;}
    }
    .bottom{
      height: 65px; padding: 4px 0;
      p{width: 100%; padding: 0 10px; font-size: 14px; line-height: 1.2;}
    }
    .btn-dd{max-width: 90%; height: 30px; font-size: 14px;}
    .btn-gift,.btn-gg{font-size: 13px; height: 30px;}
    .btn-gift{width: 105px; margin-left: 10px;}
    .btn-gg{width: 140px;}
  }
  .candidate{
    &__info{padding: 15px 0;}
    &__vote{
      p{margin-bottom: 10px;}
      span{font-size: 20px;}
    }
    .avatar{width: 100px; height: 100px;}
    .name{font-size: 14px; margin-top: 10px;}
    .btn-vote{width: 100px; height: 30px; font-size: 12px;}
  }
  .ranking{
    &__header{
      height: auto;
      h1{font-size: 30px;}
      p{font-size: 14px;}
    }
    &__table{
      .stt{margin-right: 10px; font-size: 20px;}
      p{font-size: 16px;}
    }
  }
  .prize{
    &__content{padding: 160px 10px 5px;}
  }
  .bonus{
    &__list{
      margin-top: -105px;
      .item{padding: 10px; border-width: 6px;}
      .icon{width: 100px; margin-top: 0;}
      p{font-size: 18px; padding-left: 20px;}
    }
  }


  .modal{
    .modal-header{padding: 15px;}
    .modal-title{font-size: 26px;}
    .code{height: 50px; font-size: 24px;}
    .syntax{
      .box-btn{
        button{max-width: 43%; margin: 0 2%; font-size: 14px;}
      }
    }
    .box-select,h5{
      font-size: 16px;
    }
    .close{width: 20px; height: 20px; right: 20px; top: 18px;}
  }
  .modal-guess{
    .guess{
      .header{height: 65px; font-size: 16px;}
      .content{padding: 30px 15px;}
    }
  }
}

@media (max-width: 992px) {
  .news{
    .ads-h{display: none;}
  }
}

@media (max-width: 768px) {
  .candidate{margin-bottom: 10px;}
  .box-voted{
    .voted{
      .row{margin: 0 -5px;}
      &__ty{margin-bottom: 10px;}
      .col-lg-3,.col-lg-9,.col-lg-4{padding: 0 5px;}
    }
  }
  .ranking{
    &__table p{font-size: 14px;}
    table{
      th{font-size: 12px;}
      tbody{
        tr:nth-child(1){
          td:first-child > div::before{width: 125px;}
          td:first-child > div::after{left: 75px;}
        }
        tr:nth-child(2){
          td:first-child > div::before{width: 70px;}
          td:first-child > div::after{left: 20px;}
        }
        tr:nth-child(3){
          td:first-child > div::before{width: 20px;}
          td:first-child > div::after{left: -30px;}
        }
      }
    }
  }
  .box-news{
    .title{font-size: 28px;}
    .btn-viewmore{height: 45px; font-size: 20px;}
  }
  .news{
    &__highlight{
      .post{margin-bottom: 15px;}
    }
  }
}

@media (max-width: 480px) {
  header{
    .logo{padding: 15px 0;}
    .logo a{margin-right: 10px;}
  }
  marquee{font-size: 14px;}
  .login{
    .box-btn button{font-size: 14px; max-width: 45%;}
    .text{font-size: 14px;}
    .info{
      >*+*::before{height: 20px;}
      p{font-size: 15px;}
    }
  }
  .box-btn{
    .btn-guess,.btn-voted{max-width: 45%; font-size: 14px; height: 40px;}
  }
  .ranking{
    &__table{
      p{font-size: 13px;}
    }
  }
  .prize{
    .title{margin-bottom: 20px; font-size: 26px;}
    &__content{
      margin-top: -45px; padding-top: 75px;
      h2{font-size: 16px;}
    }
    table{
      td{font-size: 11px;}
      td:first-child{min-width: auto;}
    }
  }
  .bonus{
    &__list{
      padding: 100px 15px 30px;
      >*+*{margin-top: 20px;}
      .icon{width: 70px;}
      p{width: calc(100% - 70px); padding-left: 10px; font-size: 13px; line-height: inherit;}
    }
  }
  .news{
    &__list{
      .post{
        &__thumb,&__content{width: 100%;}
        &__content{margin: 10px 0 0;}
      }
    }
    .detail{
      h1{font-size: 21px;}
    }
  }

  .modal{
    .modal-title{font-size: 24px;}
    .box-select{
      font-size: 14px;
      option,h5{font-size: 14px;}
      .input-number{width: 80px; font-size: 14px;}
    }
    .box-score{
      input{width: 60px;}
    }
    .syntax .text{font-size: 14px;}
  }
  .modal-guess{
    .guess{
      .header{font-size: 14px; height: 60px;}
      .content h3{font-size: 18px;}
    }
  }
  .modal-gift{
    .gift{
      padding: 15px;
      h4{margin-bottom: 20px; font-size: 16px;}
    }
    .syntax{padding: 15px;}
  }
  .modal-prize{
    .modal-title{font-size: 20px;}
    .modal-body{
      padding: 15px;
      .sort{
        margin-bottom: 15px;
        select{padding: 4px 15px 2px 10px; font-size: 14px;}
      }
      h4{margin-bottom: 20px; font-size: 17px;}
      time{font-size: 16px;}
      table{
        th{font-size: 16px;}
        td{font-size: 14px;}
      }
    }
  }
  .modal-rule,.modal-giaithuong{
    .modal-body{padding: 10px;}
  }
  .modal-giaithuong{
    h3{font-size: 18px;}
    .list{
      button{padding: 10px; font-size: 14px; width: 46%; margin: 2%;}
    }
  }

  footer{
    margin-top: 40px;
    h4{font-size: 14px;}
    .hotline{
      padding: 20px 0;
      font-size: 14px;
      a{font-size: 24px;}
    }
  }

  //uikit
  h2.title{font-size: 28px;}
  .mb-200{margin-bottom: 50px;}
  .select2-results__option{font-size: 14px;}
}
@media (max-width: 360px) {
  header{
    .logo a{max-width: 30%; margin-right: 3%;}
  }
  .box-btn{
    .btn-guess,.btn-voted{max-width: 90%; margin-bottom: 10px;}
  }
  .match{
    .header{
      time,h4{font-size: 12px;}
    }
  }
}