body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #210807;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
@mixin txt-1{font-size: 18px; line-height: 24px; color: #fff; font-weight: 700;}
a{transition: .25s;}
a:hover{text-decoration: none;}
//header
.navbar{
  width: 100%; height: vw(60px); padding: 0;
  background: url("#{$img-path}/landing/bg-menu.jpg") no-repeat 50% 0/cover;
  .menu{
    width: 100%;
    justify-content: center;
    > li{margin: 0 vw(15px);}
    > li > a{display: block; font-size: vw(16px); font-weight: 700; color: #fff; line-height: vw(60px); text-transform: uppercase;}
    > li:hover > a{color: #fffc00;}
    > li:hover .sub-menu{opacity: 1; visibility: visible; z-index: 2;}
  }
  .sub-menu{
    position: absolute; top: vw(60px);
    background: #370f0f;
    opacity: 0; z-index: -1; visibility: hidden; transition: .3s;
    li{padding: 5px 10px;}
    li:hover{background: #401b1b;}
    a{color: #fff; font-size: vw(16px); font-weight: 700; text-transform: uppercase;}
  }
}
//main
main{
  min-height: vw(1862px); padding-top: vw(22px);
  background: url("#{$img-path}/landing/bg-landing.jpg") no-repeat 50% 0/contain;
}
.logo{display: block; width: vw(350px); margin: 0 auto;}
.avt{
  justify-content: center;
  &__img{width: vw(262px); margin: 0 vw(-9px);}
}
.intro{
  .text{width: vw(1091px); margin: 0 auto; color: #fff; font-size: vw(18px); line-height: vw(24px); text-align: center; animation-delay: .5s;}
}
.award{
  margin-top: vw(24px);
  justify-content: center;
  align-items: flex-end;
  animation-delay: 1s;
  &__img{
    &--1{width: vw(70px); margin-bottom: vw(8px);}
    &--3{width: vw(118px); margin-bottom: vw(12px);}
    &--2{width: vw(144px); margin: 0 vw(19px) 0 vw(59px);}
  }
}
.box-join{
  margin-top: vw(40px);
  animation-delay: 1.5s;
  .title{
    width: vw(1147px); height: vw(170px);
    margin: 0 auto;
    background: url("#{$img-path}/landing/text.png") no-repeat 0 0/contain;
    font-size: 0;
  }
  .box-btn{
    margin-top: vw(30px);
    justify-content: center;
    a{
      width: vw(380px); height: vw(70px);
      margin: 0 vw(10px); border-radius: vw(6px); box-shadow: inset 0px 2px 0 0 rgba(#fff,.6);
      font-size: vw(20px);
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      line-height: vw(24px);
      text-align: center;
    }
    a:hover{filter: saturate(1.6);}
    .btn-register{background-image: linear-gradient(to top, #9d1a1a, #c45b5b);}
    .btn-guess{background-image: linear-gradient(to top, #723703, #d19609);}
    .btn-gift{background-image: linear-gradient(to top, #0a5589, #4eaaff);}
  }
}
.box-video{
  margin: vw(95px) auto 0; width: vw(905px);
  .video{
    cursor: pointer;
    &:hover::after{transform: translate(-50%,-50%) scale(1.1);}
    &::before,&::after{content: ""; position: absolute;}
    &::before{
      width: 100%; height: 100%;
      background: rgba(#000,.5);
      position: absolute; top: 0; left: 0;
    }
    &::after{
      width: vw(119px); height: vw(118px);
      background: url("#{$img-path}/landing/play.png") no-repeat 0 0/contain;
      left: 50%; top: 50%; transform: translate(-50%,-50%);
      transition: .3s;
    }
  }
  .text{
    margin-top: vw(15px); color: #fff; line-height: vw(24px);
    h3{font-size: vw(18px); font-weight: 700;}
    p{font-size: vw(14px);}
  }
}
.modal-video{
  .modal-dialog{max-width: 80vw; margin: 1rem auto;}
  .close{
    padding: 2px 5px 5px;
    background: #c00;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    position: absolute; top: -1px; right: -1px;
  }
  .modal-content{
    width: 100%; height: 40vw;
    background: #000;
    border-radius: 0;
    iframe{width: 100%; height: 100%; border: none;}
  }
}

//footer
footer{
  background: #000;
  padding: vw(42px) 0 vw(32px);
  text-align: center;
  h4{
    max-width: vw(800px);
    margin: 0 auto vw(37px);
    padding-bottom: vw(17px);
    border-bottom: 1px solid #73252a;
    text-align: center;
    font-size: vw(18px);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  .text{
    margin: vw(40px) 0;
    color: #a7a7a7;
    font-size: 12px;
  }
  .box-logo{
    justify-content: center;
    &--1{
      align-items: center;
      a{margin: 0 vw(34px);}
    }
    &--2{
      align-items: flex-start;
      a{margin: 0 vw(12px);}
      a:nth-child(3){margin-top: 8px;}
    }
    .icom{width: vw(162px);}
    .tvplay{width: vw(131px);}
  }
}

//js animation
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

//uikit
.pr{position: relative;}
.container{max-width: 1230px;}
button{
  cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
input:focus{outline: none;}

@media (max-width: 820px) {
  .navbar{
    height: vwt(60px);
    padding-bottom: vwt(3px);
    .menu{
      > li > a{font-size: vwt(16px); line-height: vwt(60px);}
    }
    .sub-menu{
      top: vwt(60px);
      a{font-size: vwt(14px);}
    }
  }
  main{min-height: auto; padding-bottom: 30px; background-size: cover;}
  .logo{width: vwt(200px);}
  .avt{
    &__img{width: vwt(140px); margin: 0;}
  }
  .intro{
    .text{width: 90%; font-size: vwt(15px); line-height: 1.2;}
  }
  .award{
    margin-top: vwt(24px);
    &__img{
      &--1{width: vwt(45px); margin-bottom: vwt(8px);}
      &--3{width: vwt(88px); margin-bottom: vwt(12px);}
      &--2{width: vwt(104px); margin: 0 vwt(19px) 0 vwt(59px);}
    }
  }
  .box-join{
    margin-top: vwt(30px);
    .title{width: vwt(700px); height: vwt(104px);}
    .box-btn{
      margin-top: vwt(20px);
      a{
        width: vwt(250px); height: vwt(55px);
        margin: 0 vwt(6px); border-radius: vwt(6px);
        font-size: vwt(16px);
        line-height: 1.2
      }
    }
  }
  .box-video{
    margin: vwt(50px) auto 0; width: vwt(600px);
    .video{
      &::after{width: vwt(100px); height: vwt(100px);}
    }
    .text{
      margin-top: vwt(10px); line-height: 1.4;
      h3{font-size: vwt(16px);}
      p{font-size: vwt(14px);}
    }
  }

  //footer
  footer{
    padding: vwt(32px) 0 vwt(22px);
    h4{
      max-width: vwt(600px);
      margin: 0 auto vwt(37px);
      padding-bottom: vwt(17px);
      font-size: vwt(18px);
    }
    .text{margin: vwt(40px) 0;}
    .box-logo{
      &--1{
        a{margin: 0 vwt(34px);}
      }
      &--2{
        a{margin: 0 vwt(12px);}
        a:nth-child(3){margin-top: 8px;}
      }
      .icom{width: vwt(152px);}
      .tvplay{width: vwt(121px);}
    }
  }
}
@media (max-width: 390px) {
  .navbar{
    height: vwm(60px);
    padding-bottom: vwm(3px);
    .menu{
      flex-wrap: nowrap;
      > li > a{font-size: vwm(12px); white-space: nowrap;}
    }
    .sub-menu{
      top: vwm(60px);
      li{padding: 2px 10px;}
      a{font-size: vwm(14px);}
    }
  }
  .logo{width: vwm(200px);}
  .avt{
    &__img{width: vwm(140px);}
  }
  .intro{
    .text{width: 90%; font-size: vwm(16px);}
  }
  .award{
    margin-top: vwm(24px);
    &__img{
      &--1{width: vwm(45px); margin-bottom: vwm(8px);}
      &--3{width: vwm(88px); margin-bottom: vwm(12px);}
      &--2{width: vwm(104px); margin: 0 vwm(19px) 0 vwm(59px);}
    }
  }
  .box-join{
    margin-top: vwm(30px);
    .title{width: vwm(600px); height: vwm(89px);}
    .box-btn{
      margin-top: vwm(20px);
      a{
        width: vwm(250px); height: vwm(55px);
        margin: vwm(6px); border-radius: vwm(6px);
        font-size: vwm(16px);
      }
    }
  }
  .box-video{
    margin: vwm(40px) auto 0; width: vwm(560px);
    .video{
      &::after{width: vwm(100px); height: vwm(100px);}
    }
    .text{
      margin-top: vwm(10px); line-height: 1.5;
      h3{font-size: vwm(18px);}
      p{font-size: vwm(15px);}
    }
  }
  .modal-video{
    .modal-dialog{max-width: 92vw;}
    .modal-content{width: 100%; height: 50vw;}
  }

  //footer
  footer{
    padding: vwm(32px) 0 vwm(22px);
    h4{
      max-width: vwm(600px);
      margin: 0 auto vwm(37px);
      padding-bottom: vwm(17px);
      font-size: vwm(18px);
    }
    .text{margin: vwm(40px) 0;}
    .box-logo{
      &--1{
        a{margin: 0 vwm(34px);}
      }
      &--2{
        a{margin: 0 vwm(12px);}
      }
      .icom{width: vwm(152px);}
      .tvplay{width: vwm(121px);}
    }
  }
}

